
<!DOCTYPE html>
<html lang="en">

<head>
    <!--<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='contact.css') }}">
    <title>About Us</title>

    
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <ul>
          <span class="nav-home"><a href="\home">Home</a></span>
          <span class="nav-contact"><a href="\contact">Contact</a></span>
          <span class="nav-about"><a href="\about">About</a></span>
       </ul>
      
      </nav>

    <header>
        <h1>About Us</h1>
    </header>

    <section>
        <h2>Our Story</h2>
        <p>Welcome to our website! We are M-Cube Engineering, a passionate team dedicated to harnessing the power of artificial intelligence to revolutionize industries and improve lives. With a focus on innovation and excellence, we strive to push the boundaries of what is possible in the realm of AI-based solutions. Our journey began with a vision to create cutting-edge technology that drives meaningful change. Since then, we have achieved significant milestones, solidifying our position as leaders in the field and expanding our reach globally.</p>

        <h2>Our Team</h2>
        <p>We are a diverse group of individuals united by our commitment to innovation and progress. Each member of our team brings a unique perspective and skill set to the table, fostering a dynamic and collaborative environment at M-Cube Engineering. Together, we work tirelessly to develop groundbreaking AI solutions that address complex challenges and drive positive impact in our communities.</p>

        <h2>Our mission</h2>
        <p>At M-Cube Engineering, our mission is to harness the transformative power of artificial intelligence to pioneer innovative solutions that address real-world challenges. We are committed to pushing the boundaries of technological advancement, driving positive change, and empowering businesses and individuals to thrive in the digital age. With a steadfast focus on excellence, integrity, and social responsibility, we strive to be a catalyst for progress, shaping a future where AI-driven innovations positively impact every facet of society.</p>
    </section>
    <div class="header">
        <h2><span>M-cube </span>Engineering</h2>
      </div>

    

</body>

</html>