
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-ez3QJ0rQQfxl7tKPqACa+rdST3V0v2zrq8+ja6b9TR6iSRXru5wa4TG4uWpgVC6U" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='contact.css') }}">
    <script src="https://kit.fontawesome.com/eb54a41d82.js" crossorigin="anonymous"></script>
    
    <title>Contact Us</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <span class="nav-home"><a href="\home">Home</a></span>
            <span class="nav-contact"><a href="\contact">Contact</a></span>
            <span class="nav-about"><a href="\about">About</a></span>
        </ul>
    </nav>

    <header>
        <h1><span>Contact Us</span></h1>
    </header>

    <section class="contact-info">
        <h2>Get in Touch</h2>
        <p>Feel free to reach out to us through the following channels:</p>

        <ul class="social-media-links">
            <li><span class="fas fa-phone-alt"></span> Phone: <a href="tel:+251924741786">0924741786</a></li>
            <li><span class="fab fa-telegram"></span> Telegram: <a href="https://t.me/official_Mintesnot" target="_blank" rel="noopener noreferrer">@official_Mintesnot</a></li>
            <li><span class="fab fa-instagram"></span> Instagram: <a href="https://www.instagram.com/minte7" target="_blank" rel="noopener noreferrer">@minte7</a></li>
            <li><span class="fab fa-facebook"></span> Facebook: <a href="https://www.facebook.com/official.mintesnot/" target="_blank" rel="noopener noreferrer">official.mintesnot</a></li>
            <li><span class="fab fa-tiktok"></span> TikTok: <a href="https://www.tiktok.com/@the.gunners_2024" target="_blank" rel="noopener noreferrer">the.gunners_2024</a></li>
            <li><span class="fas fa-envelope"></span> Email: <a href="mailto:minte12menge@gmail.com">minte12menge@gmail.com</a></li>
        </ul>
        </ul>
          </ul>
    </section>
    <div class='header'>
        <h2><span>M-cube </span>Engineering</h2>
    </div>
</body>

</html>
