@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;800&display=swap");
/* Default styles for all screen sizes */
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
 .nav-home, .nav-contact,.nav-about {
    display: inline-block;
    margin: 0 20px;
    padding: 10px 15px;
    border: 1px solid #a12e2e;
    border-radius: 5px;
  
 }
 .nav-home a , .nav-contact a , .nav-about a {
    color: rgb(255, 252, 252);
  }
 span {
    color: var(--main-color);
    font-weight: 800;
 }
 .header {
    background-size: cover;
    background-position: center;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../static/img01.png");
    color: var(--white-color);
  }